# DAY 3 QUESTION 1

#report card

In [2]:
Maths = int(input("="))

=90

In [12]:
science = int(input("="))

=65

In [19]:
social = int(input("="))

=30

In [14]:
language = int(input("="))

=85

In [20]:
if Maths >= 60:
    print("Maths Grade_A")
elif Maths >= 35 and Maths <60:
    print("maths Grade_B")
else :
    print("Maths"" ""Fail")

Maths Grade_A

In [21]:
if social >= 60:
    print("Social Grade_A")
elif social >= 35 and social <60:
    print("Social Grade_B")
else :
    print("Social"" ""Fail")

Social Fail

In [17]:
if science >= 60:
    print("Science Grade_A")
elif science >= 35 and science <60:
    print("Science Grade_B")
else :
    print("Science"" ""Fail")

Science Grade_A

In [18]:
if language >= 60:
    print("Language Grade_A")
elif language >= 35 and language <60:
    print("Language Grade_B")
else :
    print("Language"" ""Fail")

Language Grade_A

# QUESTION 2

#prime using for loop

In [31]:
for x in range(0,1000):   
    if x>1:
        for y in range(2,x):
            if(x%y == 0):
                break
        else:
            print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

# Question 3

   #tables

In [114]:
for num in range(1,11):
    for x in range(1,11):
        if (x>=1):
            print(num,"x",x,"=",x*num)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Question 4

While loop for prime numbers

In [100]:
total = 0
x = 1
upper = int(input('='))
while (x<upper):   
    if x>=1:
        x = x + 1
        for y in range(2,x):
            if(x%y == 0):
                break
        else:
            print(x)
            total= total + 1
if total != 1:
    print ("prime numbers in given interval =" , total)

=50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
prime numbers in given interval = 15